[mysqld]
default_authentication_plugin=mysql_native_password

## slow query log
slow_query_log=1 # スロークエリの出力設定
slow_query_log_file = /tmp/mysql-slow.log # スロークエリログの場所
long_query_time = 0 # スロークエリと判定する秒数(s)
loose_log_queries_not_using_indexes
loose_log_throttle_queries_not_using_indexes = 10


key_buffer_size		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size   = 8 # スレッドキャッシュ保持最大数

## innodb
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_buffer_pool_size = 512M # InnoDBのデータとインデックスをキャッシュするバッファのサイズ(推奨は物理メモリの8割)
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M # InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_doublewrite = 0
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_lock_wait_timeout = 5

loose_innodb_buffer_pool_dump_at_shutdown = 1
loose_innodb_buffer_pool_load_at_startup = 1
loose_innodb_monitor_enable = all

loose_performance_schema = OFF
